/*
    Main Color scheme for the website
*/



:root{
    /* --primary-color: #A6F7EA;
    --secondary-color: #00362F;
    --contrast-color: #00362F;
    --text-contrast: #00362F;
    --text-light: #A6F7EA; */

    --primary-color: #FCEADE;
    --secondary-color: #8C285C;
    --contrast-color: #8C285C;
    --text-contrast: #8C285C;
    --text-light: #FCEADE;
  
}

::placeholder{
    color: var(--text-contrast);
    font-family: cursive;
}

/*
    Global configuration used in the global variables of user pages only
*/
body{
    font-family: cursive;
    margin: 0px;
}

a{
  border-radius: 25px;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

h1{
    margin: 0%;
    padding: 2%;
}

input{
    color: var(--text-contrast);
    font-family: cursive;
    background-color: var(--primary-color);
    
    border: 1px solid var(--text-contrast);

    border-radius: 5px;
}

input[type="submit"]{
    background-color: var(--text-contrast);
    color: var(--primary-color);

    border-radius: 5px;
}

/* ------------------------------------------------------------------------------ */
/* Whole content is also made a flexbox to manage the different sections easily */
.canvas{
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

/* ------------------------------------------------------------------------------ */
/* Navbar styles on the user page */

.navbar{
    height: 10%;

    display: flex;
    flex-flow: row nowrap;

    align-items: center;
    justify-content: space-evenly;

    background-color: var(--primary-color);

    color: var(--text-contrast);
}

#navbar_left{  
    height: 100%;
    width: 70%;
  
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 3 1 auto;

    font-size: x-large;

    margin: 1%;
}

#navbar_right{
    height: 100%;
    width: 30%;
  
    display: flex;

    flex-flow: row nowrap;
  
    align-items: center;
    justify-content: center;

    flex: 1 1 auto;

}

#navbar_home{
    height: 60%;
    width: 40%;
    font-weight: bold;
    color: var(--text-contrast);

    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar_home:hover{
  background-color: #8C285C;
  color: #FCEADE;
}

/* ------------------------------------------------------------------------------ */
/* Maincontent styles */
.maincontent{
    height: 80%;

    display: flex;
    flex-flow: row nowrap;

    /* background-color: var(--contrast-color); */
    background-image: linear-gradient(to bottom, #8c285c, #fad1c6)
}

.contact_list{
    flex: 3 1 auto;

    margin: 10px;

    display: flex;
    flex-flow: column nowrap;

    justify-content: flex-start;
    align-items: stretch;

    overflow-x: scroll;
    overflow-y: scroll;

    background-color: var(--primary-color);

    border-radius: 25px;
}

#table_contact_list{
    height: 100%;
    padding: 2%;

}

#contact_list_em{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size:x-large;
}

.stats{
    flex: 1 1 auto;

    display: flex;
    flex-flow: column nowrap;

    align-items: stretch;
    justify-content: center;

}

.stats > *{
    flex: 1 1 auto;

    margin: 10px;
}

#your_info{
    display: flex;
    flex-flow: column nowrap;

    justify-content: flex-start;
    align-items: center;

    background-color: var(--primary-color);

    margin-bottom: 10px;

    border-radius: 25px;


}

#your_info > *{
    flex: 1 1 auto;
}

#edit_contact_button{
    height: 1.5em;
    width: 10em;

    margin-bottom: 10px;
}

#add_new_contact{
    display: flex;
    flex-flow: column nowrap;

    align-items: center;

    background-color: var(--primary-color);

    border-radius: 25px;


}

#new_contact_text{
    flex: 3 1 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 20px;

    font-size:x-large;
}

#new_contact_name{
    flex: 1 1 auto;
}

#new_contact_email{
    flex: 1 1 auto;
}

#new_contact_contact{
    flex: 1 1 auto;
}

#new_contact_submit{
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 1.5em;
    width: 10em;
}

/* ------------------------------------------------------------------------------ */
/* footer styles */
.footer{
    height: 10%;

    background-color: var(--primary-color);
}

/* ------------------------------------------------------------------------------ */
/* Other styles */




