{% extends 'base_user.html' %}

{% block title %} {{ username }} {% endblock %}

{% block user_name %}{{ user_data['name'] }} {% endblock %}

{% block user_contacts %}
    {% for detail in user_data['contact list'] %}
        <tr>
            <td>{{ detail['name'] }}</td>
            <td>{{ detail['email'] }}</td>
            <td>{{ detail['contact number'] }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block user_details %}
    <tr>
        <td>&bull;</td>
        <td><b>Username</b></td>
        <td>{{ username }}</td>
    </tr>

    <tr>
        <td>&bull;</td>
        <td><b>Name</b></td>
        <td>{{ user_data['name'] }}</td>
    </tr>

    <tr>
        <td>&bull;</td>
        <td><b>Email</b></td>
        <td>{{ user_data['email'] }}</td>
    </tr>

    <tr>
        <td>&bull;</td>
        <td><b>Contact No.</b></td>
        <td>{{ user_data['contact'] }}</td>
    </tr>
{% endblock %}

{% block success_message %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash_message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}


